main {
  padding: 1rem;
  margin-top: 3.5rem;
}

#log-file-list {
  font-size: smaller;
  position: -webkit-sticky;
  position: sticky;
  top: 4.5rem;
}

.log-file-list-item {
  cursor: pointer;
}

.log-file-list-item.list-group-item {
  padding: 0.25rem 0.5rem;
}

.file-list-file-name {
  width: auto;
  overflow: hidden;
}

.file-list-file-size {
  float: right;
}

#log-content {
  font-size: smaller;
}
